//
// Some Useful color Vars via http://clrs.cc/
//

// Theme Color
$tc1: #00a99d
$tc2: #006472
$tc3: #667d6b
$tc4: #e5e5e5

// Grid
$xs-min: 385px
$sm-min: 768px
$md-min: 992px
$lg-min: 1200px

$xxs-max: 384px
$xs-max: 767px
$sm-max: 991px
$md-max: 1199px
