.flat-theme
    input[type=text],
    input[type=number],
    input[type=search],
    input[type=password],
    input[type=email],
    input[type=date]
        border: 1px solid #CCC
        padding: 10px 10px 8px 10px
        line-height: 0
        color: #333
    input[type=date]
        padding: 8px 10px 6px 10px
        line-height: 15px


    // BUTTONS
    .btn,
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"]
        border: 1px solid #999
        transition: all 0.3s ease-in-out
        &:hover, &:active, &:focus
            border: 1px solid #333
        &.btn-borderless
            border: 1px solid transparent
        &.btn-borderbottom
            &:hover, &:active, &:focus
                border-bottom: 1px solid white

    textarea
      border: 1px solid #CCC
      padding: 5px 10px
