.carousel
    @extend .clearfix
    margin-top: 120px
    height: 700px
    max-height: calc(100vh - 120px)
    background: url(../img/home/carousel/image1.jpg) no-repeat
    background:
        size: cover
        position: center
        attachment: fixed

.news-wrapper
    @extend .clearfix
    div[class*="c-"]
        min-height: 300px
        //border: 1px solid #CCC

.news-1
    background-color: $tc2
    .details
    .image
        background: url(../img/home/news/image1.jpg) no-repeat
        background-size: cover
        background-position: center
.news-2
    background-color: $tc1
    .details
    .image
        background: url(../img/home/news/image2.jpg) no-repeat
        background-size: cover
        background-position: center
.news-3
    background-color: $tc4
    .details
    .image
        background: url(../img/home/news/image3.jpg) no-repeat
        background-size: cover
        background-position: center

.video-wrapper
    @extend .clearfix
    width: 100%
    background: url(../img/home/news/image4.jpg) no-repeat
    background-size: cover
    background-position: center
    .container
        min-height: 400px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        .flex-video-wrap
            max-width: 560px
            display: inline-block
            width: 90%
            box-shadow: 0 50px 30px -30px rgba(0,0,0,0.3)
