.carousel
    @extend .clearfix
    .container
        min-height: 400px
        border: 1px solid #CCC

.news-wrapper
    @extend .clearfix
    div[class*="c-"]
        min-height: 300px
        //border: 1px solid #CCC

.video-wrapper
    @extend .clearfix
    .container
        min-height: 400px
        border: 1px solid #CCC
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        .flex-video-wrap
            max-width: 560px
            display: inline-block
            width: 90%
            box-shadow: 0 0 20px rgba(0,0,0,0.7)

.news-1
    .details
        background-color: $tc2
    .image
        background: url(../img/news/home/image1.jpg)
        background-size: cover
        background-position: center
.news-2
    .details
        background-color: $tc1
    .image
        background: url(../img/news/home/image2.jpg)
        background-size: cover
        background-position: center
.news-3
    .details
        background-color: $tc4
    .image
        background: url(../img/news/home/image3.jpg)
        background-size: cover
        background-position: center
